	.oh,.ot,.tt{float:left;padding:0 2% 2% 0;width:48%}.ot{width:31%}.tt{width:65%}.cl{clear:both}
	body{
		height: 100%;
		margin:0px;
		max-height: 100%;
		overflow: hidden;
		padding: 0px;
		background:#232323;
	}
	a{
		text-decoration: none;
	}
	img {
		border: 0px;
	}
	a:active, a:selected, a:visited { 
	    border: none;
	    outline: none;
	}
	div{
		font-family: Helvetica, Arial, sans-serif;
	}
	#main_container{
	}
	#headerWrapper{
		height: 90px;
		left: 0px;
		overflow: hidden;
		position: absolute;
		top: 0px;
		width: 100%;
		background: #3F3F3F;
	}	
	#contentWrapper{
		top: 90px;		
		bottom: 72px;
		left: 0px;
		right: 0px;
		text-align: center;
		position: absolute;
		background: #131313;
		overflow-x: hidden;
		overflow-y: auto;
	}
			.pageContainer{
				min-width: 320px; 
				height: 480px;
			}	
	#footerWrapper{
		bottom: 0px;
		height: 72px;
		left: 0px;
		overflow: hidden;
		position: absolute;
		text-align: right;
		width: 100%;
		z-index: 1;			
	}
	.contentContainer
	{
		text-shadow: 0 0 0 #000000;
		background: #3F3F3F;
		height: 480px;
	}

	.headerContainer
	{
		background: #3F3F3F; 
		height: 64px;
	}
	.header
	{
		height: 62px; 
	}
	.headerBtns
	{
		width: 73px; 
		padding-bottom: 5px;
		background: #1D1D1D;
		/*position: fixed;
		top: 0px;
		right: 0px;*/
		margin-right: 6px;
	}
	.headerBtnUstream
	{
		margin: 6px 0px 0px 4px;
		width: 65px; 
		height: 24px;
		cursor: pointer;
	}
	.headerBtnShare
	{
		margin: 3px 0px 0px 3px; 
		width: 67px; 
		height: 24px;
		cursor: pointer;
	}
	*:focus{  
		outline: none;  
	} 
	.errorNotice{
		text-align: center;
		padding: 20px;
		border-top: 1px solid #808080;
		border-bottom: 1px solid #808080;
		background: #CCCCCC;
		margin: 10px;
		font-weight: bold;
		font-size: 11px;
		color: #000000;
	}
	.btnPrev, .btnNext{
		float: right;
	}
	.btnBack
	{
		float: left;
	}
	.ustreamOverlay
	{
		position: fixed;
		width: 100%;
		top: 90px;
		left: 0px;
		bottom: 0px;
		z-index: 9999;
		display: none;
		background: #F8F8F8;
	}
	.preloader{
		position: fixed;
		top: -100px;
	}
	
	#logoWrapper{
		height: 62px;
		background: #131313; 
		text-align: center;
		float: left;
	}
a.navLink{
cursor:pointer;	
}
#spinner{
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;	
		position: fixed;
		top: 20%;
		left: 20%;
		right: 20%;
		bottom: 20%;
		z-index: 3;
		display:none;
		background-color: rgba(255, 255, 255, 0.5);				
}

.navItemHolder
{
	background: transparent; 
	color: #000000; 
	text-shadow: 0 0 0; 
	text-transform: uppercase; 
	font-family: arial;
	text-decoration: none;
	padding-top:4px;
	height: 21px;
}

.navItemHolder a
{
	text-decoration: none;
	color: #000000;
	font-weight: bold;
}

.navItemHolder a:hover
{
	color: #FFFFFF;
	text-shadow: 0 0 10px #FFFFFF; 
}

.navSelected a
{
	color: #FFFFFF;
	text-shadow: 0 0 10px #FFFFFF; 
}

.elementsOverlay
{
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
	background: #CCCCCC;
	z-index: 999;
	height: 100%;
	display: none;
	background: url('../images/overlayBG.png'); 
}

.elementsWrapper
{
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	background: #101010;
	border: 1px solid #333333;
	padding-bottom:40px; 
}

.elementsInnerWrapper
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 20px;
}

.overlayNavItem
{
	float: left; 
	background: #424242; 
	margin: 10px 0px 0px 10px;
	padding: 10px 0px 0px 0px;
	text-align: center;
}

.normalIcon
{
	margin-top: 0px; 
	background: url('/mobile/images/footerBG.gif') repeat-x #000000; 
	height: 48px;
	padding-top: 6px;
}

.highlightedIcon
{
	margin-top: 0px;  
	background: url('/mobile/images/selected_image.png') repeat-x #000000; 
	height: 48px;
	padding-top: 0px;
	margin-top: -2px;
}

/* step carousel */

.stepcarousel
{
	
	position: relative; /*leave this value alone*/
	overflow: scroll; /*leave this value alone*/
	width: 248px; /*Width of Carousel Viewer itself*/
	height: 72px; /*Height should enough to fit largest content's height*/
}

.stepcarousel .belt
{
	
	position: absolute; /*leave this value alone*/
	left: 0;
	top: 0;
}

.stepcarousel .iconbox
{
	float: left; /*leave this value alone*/
	overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
	width: 86px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
	background: #CCCCCC;
	height: 72px;
}



