	.theatersItemHolder
	{
		border-bottom: 1px solid #000000;
		background: #232323;
		font-family: Helvetica;
		min-height: 36px;
		padding: 9px 9px 4px 9px; 
	}
	
	.theatersLabelHolder
	{
		margin-left: 14px; 
		margin-top: 5px; 
		margin-bottom: 5px;
		float: left;
		overflow: hidden;
		min-width: 148px;
		width: 100%;
		cursor: pointer;
	}
	
	.theatersLabelEvents
	{
		display: block;
	}

	.theatersLabelEvents
	{
		display: none;
	}
	
	.theatersNameContainer
	{
		color: #A3A3A3;
		height: 16px;
		font-size: 13px;
		font-weight: bold;
		white-space: nowrap; 
		overflow: hidden; 
		padding-left: 55px; 
		padding-right: 60px;
		text-align: left;
	}
	
	.theaterCampaignName
	{
		background: url('../images/images-theaters/campaignBackground.png') repeat-x top #000; 
		text-align: left;
		margin-top: 5px;
		height: 20px;
		font-size: 12px;
		color: #FFF;
		font-weight: bold;
		padding-top: 5px; 
		padding-left: 19px;
	}
	
	.mapOverlayTheater
	{
		position: fixed;
		width: 100%;
		top: 0px;
		left: 0px;
		background: #CCCCCC;
		z-index: 999;
		height: 100%;
		display: none;
		background: url('../images/overlayBG.png'); 
	}